{% extends 'config/base.html' %}
{% load widget_tweaks %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="card p-4 shadow-lg p-3 mb-5 bg-white rounded">
                <h3 class="mb-4">Login</h3>
                <form method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <!-- <input type="username" name="username" class="form-control" id="exampleInputEmail1"
                            placeholder="Enter Your Username" aria-describedby="emailHelp" required> -->
                        {% render_field form.username|add_class:"form-control" placeholder="Enter Your Username" %}

                        {% if form.username.errors %}
                        <div class="alert alert-danger p-2 mt-2" role="alert">
                            {% for error in form.username.errors %}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <!-- <input type="password" name="password" class="form-control" placeholder="Enter Your Password"
                            id="exampleInputPassword1" required> -->
                        {% render_field form.password|add_class:"form-control" placeholder="Enter Your Password" %}

                        {% if form.password.errors %}
                        <div class="alert alert-danger p-2 mt-2" role="alert">
                            {% for error in form.password.errors %}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>
                    <button type="submit" class="btn btn-primary my-2" style="width:100%;">Log In</button>
                </form>

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}