{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title-meta %}{% block title %}
تغییر گذر واژه
{% endblock %}{% endblock %}

{% block main %}
<hr>
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">تغییر گذر واژه</h3>
        </div>

        <form action="" method="post">{% csrf_token %}
            <div class="card-body">
                <div class="row">

                    <div class="col-6">
                        {{form.old_password|as_crispy_field}}
                    </div>
                    <div class="col-6"></div>
                    <div class="col-6">
                        {{form.new_password1|as_crispy_field}}
                    </div>
                    <div class="col-6">
                        {{form.new_password2|as_crispy_field}}
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-info" type="submit">ویرایش گذرواژه</button>

            </div>
        </form>

    </div>
    {% endblock %}