{% extends 'blog/base.html' %}
{% block main %}
{% load ratings %}

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            {% for article in object_list %}

            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'blog:detail' article.slug %}">
                    <h4 class="post-title">{{article.title}}
                        {% if article.is_special %}
                        <span class="text-danger badge badge-danger ">ویژه!</span>
                        {% endif %}
                    </h4>
                    <div class="mt-3">
                        {% ratings article %}
                    </div>
                    <h5 class="post-subtitle" style="text-align: justify;
                    text-justify: inter-word;">{{article.description|striptags|truncatewords:30}}</h5>
                </a>
                <p class="post-meta">
                    نوشته شده توسط
                    <a href="{% url 'blog:author' article.author %}">{{article.author.get_full_name}}</a>
                    <time>{{article.jpublish}}</time>
                </p>
                <div>
                    {% for cat in article.category_published.all %}
                    <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
                    {% endfor %}
                </div>
                <div class="mt-3">
                    بازدید ها: {{ article.hits.count }}
                </div>
            </div>
            <!-- Divider-->
            <hr class="my-4" />

            {% endfor %}
            <!-- Pager-->
            {% if is_paginated %}
            <div class="row">
                <div class="col-4">
                    {% if page_obj.has_previous %}
                    <div class="d-flex mb-4"><a class="btn btn-primary text-uppercase p-3"
                            href="{% url 'blog:home' page_obj.previous_page_number %}">&rarr; پست
                            های
                            جدید تر </a></div>
                    {% endif %}
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    {% if page_obj.has_next %}
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase p-3"
                            href="{% url 'blog:home' page_obj.next_page_number %}">پست
                            های
                            قدیمی تر &larr;</a></div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}