{% extends 'blog/base.html' %}
{% load comment_tags %}

{% block title %}{{object.title}}{% endblock %}

{% block header_topic %}
<h2>{{object.title}}
    {% if article.is_special %}
    <span class="text-danger badge badge-danger ">ویژه!</span>
    {% endif %}
</h2>
<time>تاریخ انتشار: {{object.jpublish}}</time>
{% endblock %}

{% block header_image %}
<header class="masthead" style="background-image: url('{{object.thumbnail.url}}')">
    {% endblock %}

    {% block main %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7" style="text-align: justify;
                text-justify: inter-word;">

                    {% if object.is_special %}
                    {% if user.is_authenticated and user.is_special_user or user == object.author or user.is_superuser%}
                    <p>{{object.description|safe}}</p>
                    {% else %}
                    {{article.description|striptags|truncatewords:30}}
                    <p>این مقاله ویژه است. برای مشاهده باید <a href="#">اشتراک ویژه</a>
                        تهیه کنید.</p>

                    {% endif %}
                    {% endif %}
                    {% render_comments object request %}
                    {% include_bootstrap %}

                </div>

            </div>
        </div>
    </article>
    {% endblock %}